/* css styles */

#para1 {
  color: #918c94;
  text-align: justify;
}

#para2 {
  color: black;
  text-align: justify;
}

.test h3 {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.g-col-3 {
  flex: 0 0 22%;
  text-align: center;
}

.g-col-3 img {
  border-radius: 50%;
}